@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="ext-dark" asp-area="" asp-controller="Shop" asp-action="Index">Take me to the list!</a>
</div>
